<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="topdiv">
            <h1>JUMBLED WORDS</h1>
            <h4>Make Your Choice</h4>
        </div>

        <div class = "bottomdiv">
            <a href="/jumble"> 
                 <button class="button" id="jumble">Jumble a Word</button>
            </a>
            <a href="/reveal">           
                 <button class="button" id="figure">Figure Out The Words</button>
            </a>
        </div>

    </body>
</html>